

<div class="sidebar">

<h4> <%= link_to "Manage Patients", index_patient_path %><h4>
<h4><%= link_to "Add Patients", new_patient_path %><h4>
<h4>Add Medication For:<h4>
(collection_select Patient)


</div>

<div class = "schedule">


SCHEDULE OF MEDICATIONS HERE



</div>



